<div id="<%= dom_id quiz %>">
  <p>
    <strong>Title:</strong>
    <%= quiz.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= quiz.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= quiz.user_id %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= quiz.public %>
  </p>

</div>
